.container{
 width:292px;
 padding:30px;
 background-color:#E2E2E2;

}

.button-container{
 width: 292px;
 margin-top:20px;
}

input{
    height:40px;
    width:90px;
    margin-bottom:5px;
    margin-right:7px;
}

.last{
 margin-right:0px;
}

input#display{
 width:100%
}

input#clear{
    width:100%;
    background-color: #B0B0B0;
}